<title>Home</title>
</head>
{{>navbar}}
<body>
<div class="parent-container flexbox" >
   <div class="container flexbox">
    <img class="img"  src="/images/large.png" alt="city">
    </div> 
    <div class="container flexbox">
        <h1>This is the welcome paragraph</h1>
        <p>            
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur tincidunt sodales. Fusce finibus sem non maximus dignissim. Aenean finibus nunc vestibulum auctor accumsan. Proin malesuada ut velit vitae aliquet. Aliquam erat volutpat. Curabitur at mollis risus, at porta augue. Phasellus mollis nibh eget enim mollis, eu finibus turpis viverra. Maecenas nibh eros, tempor non lacinia eleifend, vehicula eu metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        </p>
    </div>
</div>
