<title>{{faction.name}}</title>
</head>
{{>navbar}}
<body>
<div class="parent-container flexbox" >
   <div class="container flexbox color">
       <div>
           <h1>Name: {{faction.name}}</h1>
       </div>
       <div>
           <p>
              
           </p>
       </div>
        <div>
            <p>
              
            </p>
        </div>
    
    
                    
    </div> 
    
</div>
